$hBlack: #222;
$hWhite: #fff;
$hDarkGrey: #757575;
$hLightGrey: #a2a2a2;

$hBorderColor: #e4e4e4;
$hBorder: .0625rem solid $hBorderColor;
$hDarkBorder: .0625rem solid $hBlack;
$hBorderRadius: .3125rem;

$hErrorRed: #f44336;
$hBackground: #f7f7f7;
$greyGradient: linear-gradient(135deg, #dcdcdc 0%, #9a9a9a 100%);

@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');

* {
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
}

body, html {
	height: 100%;
}

body {
	margin: 0;
	color: $hBlack;
	user-select: none;
	cursor: default;
	background-color: $hBackground;
	// font-family: 'Roboto Slab', serif;
}

body, input, button {
	font: caption;
}

input {
	border: none;
	background: none;
	color: $hBlack;
	&:focus {
		outline: none;
	}
}

h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 2.75rem;
	background: $greyGradient;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 400;
}
h2 {
	font-family: 'Roboto Slab', serif;
	font-size: 1.5rem;
	font-weight: 400;
	.grey {
		color: $hDarkGrey;
	}
}
h3 {
	font-size: 1.125rem;
	color: $hBlack;
	font-weight: 400;
	margin-bottom: .625rem;
}
p {
	font-size: .875rem
}

#app {
	height: 100%;
	display: flex;
	flex-direction: column;
}

header {
	-webkit-app-region: drag;
	.menu {
		height: 2.4rem;
		display: flex;

		.left.container, .right.container {
			flex: 1;
			display: flex;
			min-width: -webkit-min-content;
		}
		.right.container {
			justify-content: flex-end;
		}

		.logo {
			// margin: 15px;
			height: 100%;
			display: flex;
			margin: 0 20px;
			justify-content: center;
			svg {
				 width: 5rem;
			}
		}
	}
	.darwin {
		display: block;
		height: 22px;
	}
}

::-webkit-scrollbar {
	width: .25rem;
	position: absolute;
}
::-webkit-scrollbar-track {
	background: none;
}
::-webkit-scrollbar-thumb {
	background: rgba(228, 228, 228, 0);
}
:hover::-webkit-scrollbar-thumb {
	background: rgba(228, 228, 228, .6);
}

#compFlow {
	flex: 1;
	display: flex;
	overflow: hidden;
	align-items: stretch;
	padding-top: 1rem;
	white-space: normal;
	> span {
		display: flex;
		align-items: stretch;
		width: 1000vw;
	}
	.sheet {
		display: inline-block;
		display: flex;
		overflow-y: scroll;
		margin: 0 2rem;
		> div {
			flex: 1;
		}
		&.first {
			flex: 1;
		}
		&.child {
			background-color: $hWhite;
			border: $hBorder;
			border-top-left-radius: $hBorderRadius;
			border-top-right-radius: $hBorderRadius;
			box-shadow: 0 0 1rem rgba(0, 0, 0, .05);
			border-bottom: none;
			position: relative;
			&::before {
				content: '';
				position: fixed;
				left: 0;
				right: 0;
				height: 2rem;
				background: linear-gradient(180deg, $hWhite 0%, rgba(128, 128, 128, 0) 100%)
			}
		}
	}
}


.bottombar {
	display: flex;
	flex-direction: column;
	> div:nth-child(1) {
		flex: 1;
	}
	> div:nth-child(2) {
		padding: 1rem;
		text-align: right;
	}
}

.collectionBook {
	display: inline-flex;
	margin: 20px 0 20px 20px;
	.cover, .bar {
		border: $hBorder;
		border-radius: .3125rem;
		display: inline-block;
		box-shadow: 0 0 2.5rem rgba(0, 0, 0, .06);
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
	}

	.cover {
		width: 250px;
		height: 320px;
		z-index: 2;
		padding: 1rem 1.5rem 1.5rem 1.5rem;
		background: $greyGradient;
		font-family: 'Roboto Slab', serif;
		color: $hWhite;

		> div:nth-child(1) { font-size: 2.625rem; }
		> div:nth-child(2) { flex: 1; font-size: 1.4375rem; white-space: normal; }
		> div:nth-child(3) {
			font-size: .875rem;
			font: caption;
			font-weight: 500;
		}

	}
	.bar {
		z-index: 1;
		background: $hWhite;
		width: 4rem;
		padding: .5rem;
		padding-left: calc(.5rem + .5rem);
		margin: .625rem 0 .625rem -.625rem;
		display: flex;

		.fillH { flex: 1; }

		.button {
			line-height: 0;
			border-radius: 50%;
			padding: .45rem;

			&:active:hover {
				background-color: #e0e0e0;
			}

			svg {
				transition: .2s fill;
				fill: $hBorderColor;
			}
		}
		& > :nth-child(2) svg { transition-delay: .05s; }
		& > :last-child svg { transition-delay: .1s; }
	}

	&:hover .button svg {
		fill: $hBlack;
	}

}

.cornerBtn {
	border: $hBorder;
	color: $hBlack;
	background: #fff;
	display: inline-block;
	font-size: 1.125rem;
	padding: .4rem 1.4rem .4rem .7rem;
	padding-right: 1.4rem;
	min-width: 7rem;
	text-align: left;
	transition: .1s box-shadow;

	&:active:hover {
		background: #f5f5f5;
	}
}

.listMenu {
	width: 41rem;

	.headline {
		margin: 3rem 4rem 1.5rem 4rem;
		display: flex;
		min-height: 4rem;
		justify-content: center;
		align-items: center;

		text-align: center;
		&.flex {
			display: flex;
			justify-content: center;
			align-items: center;
			h1 {
				margin-right: .5rem;
			}
		}
	}

	.dist {
		margin-left: 4rem;
		margin-right: 4rem;
	}
	.spacer {
		padding-bottom: 1.25rem;
	}
	.iconButton svg {
		fill: $hLightGrey;
	}

	ul {
		display: block;
		border: $hBorder;
		margin: .5rem 1rem 1.5rem 2rem;
		li {
			display: block;
			color: $hDarkGrey;
			margin: .6rem .9rem;
		}
		div {
			color: $hDarkGrey;
			text-align: center;
			padding: 2rem;
		}
	}
}

.form {
	margin-bottom: 1.5rem;
	> * {
		margin-bottom: .4rem;
	}
	h3, p {
		margin-left: 0.75rem;
		margin-bottom: .8rem;
	}
}

.colorPreview {
	border: $hBorder;
	border-radius: 50%;
}

.textBox {
	border-left: $hDarkBorder;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: .8rem;

	transition: border .2s;
	// border-left: 0 solid $hErrorRed;
	&.error {
		border-left-width: .25rem;
	}

	> div:nth-child(1) {
		display: flex;
		flex-direction: column;
		flex: 1;
		padding: .65rem 0 .65rem .75rem;

		label, span {
			font-size: .75rem;
			color: #3f3f3f;
		}
		span {
			padding-left: .3rem;
			color: $hErrorRed;
		}
		input {
			font-size: .875rem;
			&::placeholder {
				opacity: .5;
			}

			&[type=range] {
				-webkit-appearance: none;
				
				margin: .6rem 0;

				border-top: .08rem solid $hLightGrey;
				height: 1px;

				&::-webkit-slider-thumb {
					-webkit-appearance: none;
					margin-bottom: .1rem;
					box-shadow: 0px .125rem .125rem rgba(0, 0, 0, .04);
					border: .08rem solid $hLightGrey;
					border-radius: 50%;
					width: 1rem;
					height: 1rem;
					background-color: $hWhite;

					&:active {
						background-color: $hBorderColor;
					}
				}
			}


		}
	}
	> div:nth-child(2) {
		flex: 0;
		padding: .65rem 1rem;
		div {
			width: 1.4375rem;
			height: 1.4375rem;
			svg { fill: $hDarkGrey }
		}
	}
}

.iconButton {
	padding: .4rem;
	border-radius: 50%;
	line-height: 0;

	&:active:hover {
		background-color: #e0e0e0;
	}
	svg {
		width: 1.5rem;
		height: 1.5rem;
	}
}

.itemList {
	padding: .1rem 0;
	border-left: $hDarkBorder;
	.item {
		margin: .25rem .9rem;
		input[type="checkbox"], input[type="radio"] {
			zoom: 1.1;
			margin-top: .1rem;
			margin-right: .4rem;
		}
		label {
			position: relative;
			display: flex;
			font-size: .875rem;
			align-items: center;
		}
		&:not(:first-child):not(:last-child) {
			margin: .6rem .9rem;
		}
	}
}

hr {
    border: 0;
    height: 0;
    border-top: $hBorder;
    margin: 1.5rem 0;
}

.actionBar {
	position: relative;
	height: 2rem;
	display: flex;
	padding: 0 2rem;
	margin: 1.5rem 0;

	&::before {
		content: '';
		z-index: -1;
		position: absolute;
		border-top: $hBorder;
		left: 0;
		right: 0;
		top: 50%;
	}

	.left {
		display: flex;
		flex: 1;
		justify-content: flex-start;
	}
	.right {
		display: flex;
		flex: 1;
		justify-content: flex-end;
	}

	.btn {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $hWhite;
		border: $hBorder;
		border-radius: 2rem;
		min-width: 1.9rem;
		&.l {
			float: left;
		}
		&.r {
			float: right;
		}
		span {
			font-size: .75rem;
			margin: 0 1rem;
			color: $hBlack;
			line-height: .9;
		}
		svg {
			transform: scale(.65);
			fill: $hBlack;
		}
	}
}